let config = {
  jwt: {
    secret: "change this please !",
  },
  mongodb: {
    user: process.env.DBUSER,
    pass: process.env.DBPASS,
    url: process.env.DBURL,
    database: process.env.COLNAME,
  },
}
module.exports = config
